@import "compass/css3";

@import "compass/reset";
@import "compass/css3";



body{
    background-color: rgb(74, 152, 179);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
  }

  #thetitlee{
    font-size: 40px;
    color: rgb(74, 152, 179);
    text-transform: uppercase;
    text-align: center;
    animation: text 2s 1;
    letter-spacing: 8px;
    padding-bottom: 50px;
    padding-top: 20px;

    }
 decades{
      width: 100%;
      min-height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

  }
 .decades img {
    width: 40%;
    height: auto;
    margin-right: 50px;
    margin-left: 70px;
    border: 2px;
    background-color: transparent;
}
.image:hover{
    
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }




@keyframes text {
    0%{
        color: rgb(74, 152, 179);
        margin: bottom -40px;
    }

    30%{
        letter-spacing: 15px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.theheadingimg{
    width: 90%;
    height: auto;
    border: 0px;
    background-color: transparent;
}
.theheading{
    align-items: center;

}



li{
    list-style-type: none;  
    margin: 0 2vw;
    /* our font-size will be 3% of the height of the viewport */
    font-size: 3vh;
  }
  a{
    text-decoration: none;
    
    /*below I changed the color*/
    color: black;
    /*I added some padding*/
    padding: 2vw;
    /*also changed the font family but that's totally irrelevant*/
    font-family: monospace;
  }
  a:hover{
    background-color: #C6E9FF;
  }
  nav{
    width: 100vw;
  }
  ul{
    margin: 0;
    padding: 0;
    display: flex;

  }
  

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 500px) {
    ....
   
   button{
     /*makes the button visible*/
     display: block;
     
     /*since we are here, we can style it a little bit!*/
     padding: 2vw;
     font-size: 3vh;
     background-color: #AFE0FF;
     border: none;
     
     /*outline none removes the default blue border that appears anytime you click on the button*/
     outline: none;
     
     cursor: pointer;
   }
 }
  button{
    display: none;
  }