 *{
    background-color: rgb(74, 152, 179);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
  }
  body{
      width: 100%;
      min-height: 100wh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  h1{
      font-size: 64px;
      color: white;
  }
  img{
      width: 500px;
      height: auto;
      margin: 5px;
      border: 6px;
  }